$green: #009245;
$dark-green: #007506;
$green-yellow: #6ad811;
$yellow: #bbb018;
$red: #ca0040;

$blue: #1D2671;
$blue-secondary: #190ccf;
$light-blue: #2435cede;
$purple: #662D8C;

$dark-gray: #212222;
$gray: #3b4141;
$light-gray: #788080;
$light-gray-secondary: #cfcfcf;

$positive-feedback: #0a8a15;
$negative-feedback: #9e0a39;