.nav-bar {
    background: $dark-gray;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    column-gap: 2%;
    padding-right: 2%;

    .button {
        background: radial-gradient($green-yellow, $green);
        border: none;
        border-radius: 50px;
        font-size: 1.3rem;
        font-weight: 700;
        color: $dark-gray;
        height: 100%;
        width: 8rem;
    }

    .button:hover {
        background: radial-gradient($yellow, $green-yellow);
    }
}